@import "../../../../../../../style/variable.scss";

.ovefloy {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: $preto;
  opacity: 0.7;
}

.editarPropina {
  display: flex;
  position: fixed;
  width: 70%;
  left: 20%;
  background-color: $white;
  flex-direction: column;
  z-index: 3;
  border-radius: 10px;
}
.editarPropina .formBi {
  width: 100%;
  justify-content: space-between;
}
.editarPropina .opcoesEditar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.editarPropina .opcoesEditar .closed {
  padding: 2px;
  background-color: $siza;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.editarPropina .opcoesEditar .closed:hover {
  background-color: $houverM;
}

.editarPropina .formBi .cc {
  display: flex;
  align-items: center;
  gap: 20px;
  color: $white;
}
.editarPropina .formBi .cc div {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
}

.editarPropina table {
  margin: auto;
  margin-top: 20px;
  width: 98%;
}
.editarPropina th {
  background-color: $rosa;
  border: none;
}

.editarPropina button {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: $rosa;
  cursor: pointer;
  color: $white;
  width: 30%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 14pt;
  gap: 10px;
  border: none;
  border-radius: 10px;
  justify-content: center;
}
.editarPropina button:hover {
  opacity: 0.7;
}

.editarPropina .formBi .cc div input {
  width: 74%;
  border-radius: 4px;
  margin-left: 7px;
  margin-top: 10px;
}
