.container-imagePublicacao {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container-imagePublicacao .conteudo-image {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #000;
}
.container-imagePublicacao img {
  width: 99%;
  height: 300px;
}
