.container-contactChat {
  width: 100%;
}
.container-contactChat .conteudoChat {
  display: flex;
  margin: auto;
  margin-top: 4px;
  width: 100%;
  align-items: center;
  text-align: center;
  gap: 20;
}
.container-contactChat .conteudoChat .conteudo {
  display: flex;
  margin: auto;
  width: 100%;
  align-items: center;
  text-align: center;
  background-color: rgb(244, 237, 237);
}
.container-contactChat .conteudoChat .naoLida {
  display: flex;
  margin: auto;
  width: 100%;
  align-items: center;
  text-align: center;
  background-color: rgb(213, 208, 208);
}
.container-contactChat .conteudoChat .sms {
  width: 100%;
  padding: 3px;
  font-style: italic;
  color: #000;
}

.container-contactChat .conteudoChat img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.container-contactChat .conteudoChat a {
  color: blue;
  font-size: 14pt;
  font-weight: 500;
  opacity: 1;
}
