.propina {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.propina .conteudo {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  align-items: center;
  margin-top: 60px;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  padding-bottom: 20px;
}
.conteudo .formBi {
  display: flex;
  width: 100%;
  background-color: #a31543;
  padding-top: 4px;
  align-items: center;
  justify-content: center;
}
.conteudo .formBi input {
  display: flex;
  width: 40%;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  padding: 2px 4px;
  color: #000;
}
.propina .form {
  width: 100%;
  margin: auto;
}
.propina .imprimir {
  display: flex;
  width: 100px;
  padding: 10px;
  /* background-color: #a31543; */
  position: fixed;
  right: 20px;
  bottom: 10px;
  border-radius: 20px;
  gap: 10;
  cursor: pointer;
}
.propina .imprimir span {
  margin-left: 5px;
}
.propina hr {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.propina .pagamento-propina {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
  margin-top: 10px;
}
.cc {
  display: flex;
  margin: auto;
}
.propina h1,
h2 {
  color: #a31543;
}
.propina h1,
input,
select {
  margin-bottom: 10px;
}
.propina .pagamento-propina select {
  width: 130px;
  height: 30px;
  font-size: 14pt;
  margin-right: 10px;
  margin-left: 10px;
  border: 2px solid #a31543;
}
.propina .pagamento-propina label {
  display: flex;
  flex-direction: column;
  font-size: 12pt;
  align-items: center;
  justify-content: center;
}
.search {
  width: 300px;
  height: 30px;
  margin-right: 10px;
  margin-left: 10px;
  color: #000;
}
.propina .pagamento-propina input::placeholder {
  margin-left: 20px;
  font-size: 14pt;
}
.propina .dados-estudante {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: auto;
  margin-top: 10px;
}
.propina .dados-estudante label {
  font-size: 14pt;
}

/* .propina .dados-estudante input {
  width: 400px;
  height: 30px;
  margin-right: 10px;
  margin: auto;
  margin-bottom: 10px;
  font-size: 14pt;
  margin-left: 10px;
} */
.propina button {
  width: 50%;
  padding: 10px;
  border: none;
  color: #fff;
  background-color: #a31543;
  font-size: 14pt;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  opacity: 0.8;
}
.propina button:hover {
  opacity: 1;
}
