.editarComunicado {
  display: flex;
  width: 100%;
}

.editarComunicado form {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: auto;
}

.editarComunicado form textarea {
  width: 80%;
  font-size: 12pt;
  height: 300px;
  resize: none;
  border: 1px solid #fff;
  margin: auto;
}
.editarComunicado form button {
  width: 40%;
  font-size: 12pt;
  background-image: linear-gradient(90deg, rgb(80, 9, 9), rgb(24, 2, 29));
  color: #fff;
  margin: auto;
  cursor: pointer;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
}
