.container-allPage {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container-allPage .conteudo-allPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  margin-top: 50px;
  height: 100vh;
}

.container-allPage .lista {
  width: 90%;
  background-color: #434141;
  padding: 20px;
  color: #fff;
  margin: auto;
  margin-top: 5px;
  border-radius: 10px;
}

.container-allPage .lista a {
  color: #fff;
  font-size: 20pt;
}
@media (max-width: 700px) {
  .container-allPage .conteudo-allPage {
    padding-top: 40px;
    padding-bottom: 20px;
  }
}
